<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>beziser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC0AC2EF1DF9611F00066C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC0AC3081DF9611F00066C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC0AC3131DF9611F00066C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
